.cart-title {
    color: black;
    font-size: 2em; 
    text-align: center; 
    margin-bottom: 20px;
}

.cart-container {
    padding: 20px;
    background-color: var(--background-color-alt);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Visina korpe */
    justify-content: space-between; /* Rasporedi sadržaj vertikalno */


}

.cart-total {
    color: var(--text-subtitle);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 30px; /* Razmak od kartica iznad */
    margin-bottom: 20px; /* Razmak ispod h2 (prema dugmetu) */
    text-align: right;
    align-self: flex-end; /* Poravnanje na desnoj strani ako treba */
    position: relative;
    top: 630px; /* Pomeranje h2 iznad u odnosu na prethodni položaj */
    margin-right: 140px;
}


.cart-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.cart-item {
    background-color:lemonchiffon;
    flex: 1 1 calc(25% - 20px); 
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    max-width: calc(25% - 20px); 
    cursor: pointer;
}

.cart-item-name, .cart-item-price {
    margin: 0;
    color: var(--text-paragraph);
    font-size: 1.2em;
    margin-bottom: 10px; 
}

.empty-cart-message {
    color: var(--text-muted);
    font-style: italic;
}

.item-separator {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
}

button.primary {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Razmak između ikonice i teksta */
    
    
}

button.primary .material-icons {
    vertical-align: middle;
}

button.primary span:last-child {
    position: relative;
    top: -2px; /* Pomeranje teksta prema gore */
}

button.primary .material-icons.check-icon {
    font-size: 1.3em; /* Veličina ikonice */
    color: greenyellow; /* Boja ikonice (zeleno kao "tacno") */
  }

  button.primary.complete-purchase {
    margin-top: 50px; /* Razmak od drugih elemenata iznad */
    align-self: flex-end; /* Pomeranje dugmeta na dno (ako koristite Flexbox) */
    position: relative; /* Pomeranje sa pozicije */
    top: 20px; /* Pomerite dugme prema dole (ako želite da bude niže) */
    margin-left: 1500px;


    font-size: 1.5em; /* Povećanje veličine teksta */
    padding: 15px 30px; /* Povećanje unutrašnjeg razmaka (uvećanje dugmeta) */
    border-radius: 8px; /* Zaobljeni ivice dugmeta */
    min-width: 200px; /* Minimalna širina dugmeta */
}

.empty-cart-message {
    font-size: 2.5em; /* Povećajte veličinu fonta */
    text-align: center; /* Poravnajte tekst po sredini */
    color: var(--text-muted); /* Boja teksta, možete promeniti */
    font-weight: bold; /* Da tekst bude podebljan */
    position: absolute; /* Pozicioniranje poruke apsolutno */
    top: 50%; /* Postavite poruku u sredinu vertikalno */
    left: 50%; /* Postavite poruku u sredinu horizontalno */
    transform: translate(-50%, -50%); /* Precizno centriranje */
    width: 100%; /* Širina poruke */
  }

  .cart-item-image-container {
    flex-shrink: 0;
    width: 410px;
    height: 300px;
    margin-right: 20px;
    overflow: hidden;  /* Ovaj CSS osigurava da slike ostanu u okviru */
    border-radius: 8px; /* Za zaobljene ivice slike */
    margin-bottom: 20px;
  }
  
  .cart-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ovaj CSS osigurava da slike popune okvir bez izobličenja */
  }
  
  .cart-item-image-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  

  
  

  
.wallet{
    display: flex;
    justify-content: start;
    align-items: center;
}

.wallet > h2{
    padding: 0px;
    margin: 5px 0px;
}

.add-button{
    color: var(--button-secondary-bg);
    cursor: pointer;
    padding: 0 !important;
    margin: 3px 0px 0px 10px;
    
}





/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content */
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
  }
  
  /* Input field */
  .discount-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Modal buttons */
  .modal-buttons button {
    padding: 10px;
    margin: 5px;
    width: 100px;
  }
  
  .primary {
    background-color: #4CAF50;
    color: white;
  }
  
  .secondary {
    background-color: #f44336;
    color: white;
  }
  
  
