.success-snackbar {
    background: #4CAF50;
    color: white;
  }
  
  .success-snackbar .mat-simple-snackbar-action {
    color: white;
  }
  
  ::ng-deep .mat-snack-bar-container {
    margin-top: 60px !important;
  }