.landing {
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    gap: 50px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    border-radius: 20px;
    overflow: hidden;
    background:
        radial-gradient(transparent, rgba(0, 0, 0, 0.2)),
        url("/assets/images/pexels-te-lensfix-380994-1371360.jpg");
    background-size: cover;
    background-position: center;
}

.banner-content {
    width: 80%;
    height: auto;
}

.banner-content p {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    line-height: 100%;
}

.card-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}