.landing {
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    gap: 50px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.banner-content {
    width: 80%;
    height: auto;
}

.banner-content p {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    line-height: 100%;
}

.card-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-card-section>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 2em;
}

.tour-card,
.blog-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 265px;
    height: 300px;
}

.banner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.banner-container>.banner {
    width: 100%;
}