<div class="landing">
    <div class="banner raised" style="background:
    radial-gradient(transparent, rgba(0, 0, 0, 0.2)),
    url('/assets/images/pexels-te-lensfix-380994-1371360.jpg');background-size: cover;
    background-position: center;">
        <div class="banner-content">
            <p>Create Tours,<br>Experience Tours.</p>
            <button mat-button class="secondary" [routerLink]="['register']">Start Your Journey</button>
        </div>
    </div>

    <div class="card-links">
        <!-- Card links can use [routerLink] -->
        <xp-card-link icon="language" [routerLink]="['tours-page']">Tours</xp-card-link>
        <xp-card-link icon="ballot" [routerLink]="['blog']">Blogs</xp-card-link>
        <xp-card-link [routerLink]="['/clubs']" icon="group">Clubs</xp-card-link>
    </div>

    <div class="rec-tours content-card-section">
        <div>
            <h1>Recommended Tours</h1>
            <button [routerLink]="['tours-page']" class="secondary" mat-flat-button>View more</button>
        </div>
        <div class="content-cards">
            <xp-tour-card class="tour-card rounded raised" *ngFor="let tour of recommendedTours" [tourCard]="tour" (click)="detailedTour(tour)"></xp-tour-card>
        </div>
    </div>

    <div class="rec-blogs content-card-section">
        <div>
            <h1>Recommended Blogs</h1>
            <button [routerLink]="['blog']" class="secondary" mat-flat-button>View more</button>
        </div>
        <div class="content-cards">
            <div class="blog-card rounded raised">BLOG CARD</div>
            <div class="blog-card rounded raised">BLOG CARD</div>
            <div class="blog-card rounded raised">BLOG CARD</div>
            <div class="blog-card rounded raised">BLOG CARD</div>
        </div>
    </div>

    <div class="banner-container">
        <div class="banner raised" style="background:
        radial-gradient(transparent, rgba(0, 0, 0, 0.5)),
        url('/assets/images/pexels-plann-2999237-4549408.jpg'); background-size: cover;
    background-position: center;">
            <div class="banner-content">
                <p>Become an author.<br>Tell your story.</p>
                <button mat-button class="secondary" [routerLink]="['register']">Register</button>
            </div>
        </div>

        <div class="banner raised" style="background:
        radial-gradient(transparent, rgba(0, 0, 0, 0.5)),
        url('/assets/images/pexels-florencia-potter-82066-351283.jpg'); background-size: cover;
    background-position: center;">
            <div class="banner-content">
                <p>Explore places you'll love with us.</p>
                <div class="labels-container">
                    <div class="check-label"><mat-icon>check_circle</mat-icon>Expert Guides</div>
                    <div class="check-label"><mat-icon>check_circle</mat-icon>Tours Everywhere</div>
                    <div class="check-label"><mat-icon>check_circle</mat-icon>Diverse Experiences</div>
                </div>
            </div>
        </div>
    </div>

</div>