<div class="landing">
    <div class="banner">
        <div class="banner-content">
            <p>Create Tours,<br>Experience Tours.</p>
            <button mat-button class="secondary" [routerLink]="['register']">Start Your Journey</button>
        </div>
    </div>

    <div class="card-links">
        <!-- Card links can use [routerLink] -->
        <xp-card-link icon="language">Tours</xp-card-link>
        <xp-card-link icon="ballot">Blogs</xp-card-link>
        <xp-card-link icon="group">Clubs</xp-card-link>
    </div>

    <div class="rec-tours">
        <h1>Recommended Tours</h1>
    </div>

    <div class="rec-blogs">
        <h1>Recommended Blogs</h1>
    </div>
</div>