/* app-rating-form.component.css */
.app-rating-form-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.rating-button {
  min-width: 120px;
}

.rating-actions {
  display: flex;
  gap: 1rem;
}

.action-button {
  min-width: 120px;
}