<form [formGroup]="appRatingForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Grade (1-5)</mat-label>
      <input
        matInput
        type="number"
        formControlName="grade"
        min="1"
        max="5"
        required
      />
    </mat-form-field>
    <div *ngIf="appRatingForm.get('grade')?.invalid && appRatingForm.get('grade')?.touched" class="error">
      Grade must be between 1 and 5.
    </div>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="comment"
      ></textarea>
    </mat-form-field>
    <div *ngIf="appRatingForm.get('comment')?.hasError('maxlength')" class="error">
      Comment cannot exceed 250 characters.
    </div>
    
  </div>

  <button
    [disabled]="appRatingForm.invalid || isLoading"
    mat-raised-button
    color="primary"
    type="submit"
  >
    {{ isLoading ? 'Submitting...' : 'Submit' }}
  </button>
</form>
