<div class="container">
    <button mat-raised-button color="primary" (click)="openDialog()">New facility</button>

    <div class="table-container">
        <table mat-table [dataSource]="facilities" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let facility"> {{facility.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let facility"> {{facility.description}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let facility"> {{facilityTypes[facility.type]}} </td>
            </ng-container>

            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef> Latitude </th>
                <td mat-cell *matCellDef="let facility"> {{facility.latitude}} </td>
            </ng-container>

            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef> Longitude </th>
                <td mat-cell *matCellDef="let facility"> {{facility.longitude}} </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let facility">
                  <button mat-raised-button color="primary" (click)="onUpdate(facility)">
                    Update
                  </button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>