.example-form {
  min-width: 300px;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; 
}

.example-full-width {
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box; 
}   

.file-input-wrapper {
  display: flex;
  align-items: start;
  margin: 10px 0;
  gap: 10px;
  flex-wrap: wrap; 
}

.upload-button {
  background-color: #3f51b5;
  color: white;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.upload-button:hover {
  background-color: #303f9f;
}

.file-input {
  display: none;
}

.image-preview-container {
  margin-top: 10px;
  width: 100%;
}

.image-preview {
  width: 200px;
  height: 200px; 
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.image-upload-container {
  margin: 10px 0;
}

mat-dialog-content {
  max-height: 80vh !important; 
  overflow-y: auto !important;
  padding: 0 !important;
}


::ng-deep .mat-dialog-container {
  padding: 0 !important;
  overflow-x: hidden !important;
  max-width: 90vw !important;
}