<div class="title-container">
    <h1 mat-dialog-title>{{tour?.name}}</h1>
</div>
<div class="tour-container">
    <div class="row">
        <div class="map-container">
            <app-map [isViewOnly]="true"></app-map>
        </div>
        <div class="keypoints-container">
            <div><h2>Key points:</h2></div>
            <div class="progress-wrapper" *ngIf="tour">
                <ul>
                  <li *ngFor="let keyPoint of tour.keyPoints; let index = index" 
                      class="completed"
                      [style.top]="(index / (tour.keyPoints.length - 1)) * 100 + '%'">
                    <div class="inner-dot"></div>
                    <div class="node-content visible" (click)="openKeyPointDialog(keyPoint)">
                        {{ keyPoint.name || 'Checkpoint ' + (index + 1) }}
                    </div>
                  </li>
                </ul>
                <div class="progress-bar" *ngIf="tour.keyPoints.length > 1" style="height: 100%"></div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="tour-details">
            <div class="description outlined-desc">
                {{tour?.description}}
            </div>
            <div class="info-transport-container">
                <div class="info">
                    <h3>{{ getTourLevel(tour?.level) }} <span *ngIf="user?.role === 'author'">- {{ getTourStatus(tour?.status) }}</span></h3>
                    <h3 *ngIf="tour?.status === 1">Published: {{ tour?.publishedTime | date }}</h3>
                    <h3 *ngIf="tour?.status === 2">Archived: {{ tour?.archivedTime | date }}</h3>
                    <h3>Tags: {{ tour?.tags }}</h3>
                </div>
                <div class="transport">
                    <h3>Transport Durations</h3>
                    <ul>
                        <li *ngFor="let transport of tour?.transportDurations" class="transport-duration">
                            <strong>{{ transport.duration }} min</strong> -
                            <strong>{{ getTransport(transport.transport) }}</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="button-container">
            <div class="price-row">
                <h2>{{tour?.price?.amount}} {{getCurrency(tour?.price?.currency)}}</h2>
                <button mat-button class="secondary button-mg" *ngIf="tour?.status===1 && user?.role === 'tourist' && canBeBought"
                (click)="addToCart()">Buy now</button>
            </div>
            <div class="actions-row">
                <button mat-button class="secondary button-mg" *ngIf="tour?.status===1 && user?.role === 'author'" (click)="archiveTour()">Archive</button>
                <button mat-button class="secondary button-mg" *ngIf="(tour?.status===2 || tour?.status===0) && user?.role === 'author'" (click)="togglePublishForm()">Publish</button>
                <button mat-button class="secondary button-mg" *ngIf="tour?.status===1 && user?.role === 'tourist' && canBeActivated" (click)="startTour()">Activate</button>
                <button mat-button class="secondary button-mg" *ngIf="tour?.status===1 && user?.role === 'tourist' && canBeReviewed" (click)="openReviewDialog()">Add review</button>
                <button mat-button class="secondary button-mg" *ngIf="user?.role === 'author'">Edit</button>
            </div>
        </div>
    </div>

    <div *ngIf="showPublishForm" class="publish-form">
        <label>Price:</label>
        <div>
            <input type="number" [(ngModel)]="newPrice" placeholder="Enter price" required>
            <span [style]="{'margin-left': '10px'}">AC</span>
        </div>
        
        <button mat-button class="primary button-mg" (click)="publishTourWithPrice()">Confirm Publish</button>
    </div>

    <div class="title-container">
        <h1 mat-dialog-title *ngIf="tour && tour.reviews && tour.reviews.length > 0; else noReviews">Reviews</h1>

        <ng-template #noReviews>
            <h1 mat-dialog-title>No Reviews Available</h1>
        </ng-template>
    </div>
    <div class="review-container" *ngIf="tour && tour.reviews && tour.reviews.length > 0">
        <div class="review-card" *ngFor="let review of tour?.reviews">
          <div class="image-container">
            <img [src]="'data:image/jpeg;base64,' + review.image" 
                 alt="review-picture"
                 class="review-picture">
          </div>
          <div class="review-info">
            <p class="review-comment">{{review.comment}}</p>
            <div class="review-footer">
              <div class="review-dates">
                <div class="review-date">
                  <span class="date-label">Visited:</span> 
                  {{review.visitDate | date:'MMM d, y'}}
                </div>
                <div class="review-date">
                  <span class="date-label">Reviewed:</span> 
                  {{review.reviewDate | date:'MMM d, y'}}
                </div>
              </div>
              <div class="star-rating">
                <span class="star" *ngIf="review.rating >= 1">&#9733;</span>
                <span class="star" *ngIf="review.rating >= 2">&#9733;</span>
                <span class="star" *ngIf="review.rating >= 3">&#9733;</span>
                <span class="star" *ngIf="review.rating >= 4">&#9733;</span>
                <span class="star" *ngIf="review.rating >= 5">&#9733;</span>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
