<div class="tour-view container">

    <div class="map-keypoints-container">
        <div class="map-kp-wrapper">
            <div class="map-container">
                <app-map [isViewOnly]="true"></app-map>
            </div>
            <div class="keypoints-container">
                <div>
                    <h2><b>Key points</b></h2>
                </div>
                <div class="progress-wrapper" *ngIf="tour">
                    <ul>
                        <li *ngFor="let keyPoint of tour.keyPoints; let index = index" class="completed"
                            [style.top]="(index / (tour.keyPoints.length - 1)) * 100 + '%'">
                            <div class="inner-dot"></div>
                            <div class="node-content visible" (click)="openKeyPointDialog(keyPoint)">
                                {{ keyPoint.name || 'Checkpoint ' + (index + 1) }}
                            </div>
                        </li>
                    </ul>
                    <div class="progress-bar" *ngIf="tour.keyPoints.length > 1" style="height: 100%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="tour-details-container">
        <div class="details-wrapper">
            <div class="details-header">

                <div class="title-actions-container">
                    <div class="title-info">
                        <h1>{{tour?.name}}</h1>
                    </div>

                    <div class="actions-container">

                        <div class="price-container"
                            *ngIf="tour?.status===1 && user?.role === 'tourist' && canBeBought">
                            <mat-icon class="icon"> local_atm</mat-icon>
                            <span>{{tour?.price?.amount}} {{getCurrency(tour?.price?.currency)}}</span>
                        </div>

                        <button mat-button class="secondary"
                            *ngIf="tour?.status===1 && user?.role === 'tourist' && canBeBought"
                            (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>

                        <button mat-button class="secondary" *ngIf="tour?.status===1 && user?.role === 'author'"
                            (click)="archiveTour()">Archive</button>

                        <button mat-button class="secondary"
                            *ngIf="(tour?.status===2 || tour?.status===0) && user?.role === 'author'"
                            (click)="togglePublishForm()">Publish</button>

                        <button mat-button class="secondary"
                            *ngIf="tour?.status===1 && user?.role === 'tourist' && canBeActivated"
                            (click)="startTour()"><mat-icon> navigation</mat-icon>Activate</button>

                        <button mat-button class="secondary"
                            *ngIf="tour?.status===1 && user?.role === 'tourist' && canBeReviewed"
                            (click)="openReviewDialog()"><mat-icon>star</mat-icon>Add review</button>

                        <button mat-button class="secondary" *ngIf="user?.role === 'author'">Edit</button>
                    </div>
                </div>

                <div class="stats-container">
                    <!-- <div class="avg-grade">
                        <span class="star" *ngIf="getAverageRating() >= 1">&#9733;</span>
                        <span class="star" *ngIf="getAverageRating() >= 2">&#9733;</span>
                        <span class="star" *ngIf="getAverageRating() >= 3">&#9733;</span>
                        <span class="star" *ngIf="getAverageRating() >= 4">&#9733;</span>
                        <span class="star" *ngIf="getAverageRating() >= 5">&#9733;</span>
                    </div> -->

                    <div class="stats">
                        <div class="stat" *ngIf="tour?.reviews?.length! > 0">
                            <mat-icon class="stat-icon">star_half</mat-icon>
                            <span>{{ getAverageRating() }}/5</span>
                        </div>
                        <div class="stat">
                            <mat-icon class="stat-icon">visibility</mat-icon>
                            <span>{{ tour?.numberOfViews }}</span>
                        </div>
                        <div class="stat">
                            <mat-icon class="stat-icon">attach_money</mat-icon>
                            <span>{{ tour?.numberOfPurchases }} </span>
                        </div>
                        <div class="stat">
                            <mat-icon class="stat-icon">check_circle</mat-icon>
                            <span>{{ tour?.numberOfCompletions }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="details">

                <div class="details-info-container">
                    <div class="chip-container">
                        <mat-chip-listbox>
                            <mat-chip class="level-chip" [style]="getTourLevelStyle(tour?.level)"><b
                                    class="level-label">{{
                                    getTourLevel(tour?.level)
                                    }}</b></mat-chip>
                        </mat-chip-listbox>

                        <mat-chip-listbox>
                            <mat-chip class="level-chip">
                                <b>{{ splitTags(tour?.tags) }}</b>
                            </mat-chip>
                        </mat-chip-listbox>
                    </div>

                    <div class="description-container">
                        <h4><b>Description</b></h4>
                        <p>{{ tour?.description }}</p>
                    </div>

                    <div class="transport-container">
                        <h4><b>Transports</b></h4>
                        <div class="transports-chips">
                            <mat-chip *ngFor="let transport of tour?.transportDurations">
                                <b>
                                    {{ getTransport(transport.transport) }} - {{ transport.duration }} min
                                </b>
                            </mat-chip>
                        </div>
                    </div>
                </div>

                <div class="img-container">
                    <button class="nav-button left" (click)="onPreviousImage()" *ngIf="hasMultipleImages()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <img *ngIf="getKeyPointImage(); else defaultImage" [src]="getKeyPointImage()"
                        alt="Keypoints Picture" class="img" />
                    <ng-template #defaultImage>
                        <img src="..\..\..\assets\images\pexels-florencia-potter-82066-351283.jpg"
                            alt="Default Tour Keypoint Picture" class="img" />
                    </ng-template>

                    <button class="nav-button right" (click)="onNextImage()" *ngIf="hasMultipleImages()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>

                <!-- <div class="details-col">
                    <div class="info-wrapper">
                        <div class="info">
                            <h2>Price: {{tour?.price?.amount}} {{getCurrency(tour?.price?.currency)}}</h2>
                            <h2>{{ getTourLevel(tour?.level) }} <span *ngIf="user?.role === 'author'">- {{
                                    getTourStatus(tour?.status) }}</span></h2>
                            <h2 *ngIf="tour?.status === 1">Published: {{ tour?.publishedTime | date }}</h2>
                            <h2 *ngIf="tour?.status === 2">Archived: {{ tour?.archivedTime | date }}</h2>
                        </div>
                        <div class="transport">
                            <h2>Transport Durations</h2>
                            <ul>
                                <li *ngFor="let transport of tour?.transportDurations" class="transport-duration">
                                    <h4>{{ transport.duration }} min - {{ getTransport(transport.transport) }}</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3>Tags: {{ tour?.tags }}</h3>
                    <div class="description outlined-desc">
                        {{tour?.description}}
                    </div>
                </div>
                <div class="buttons-col">

                </div>
                <div class="col">
                    <img *ngIf="getKeyPointImage(); else defaultImage"
                    [src]="getKeyPointImage()" alt="Keypoints Picture" class="img" />
                    <ng-template #defaultImage>
                        <img src="..\..\..\assets\images\pexels-florencia-potter-82066-351283.jpg" alt="Default Tour Keypoint Picture" class="img"/>
                    </ng-template>
                </div>
                <div class="col img-container">
                    <button class="nav-button left" (click)="onPreviousImage()" *ngIf="hasMultipleImages()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <img *ngIf="getKeyPointImage(); else defaultImage" [src]="getKeyPointImage()"
                        alt="Keypoints Picture" class="img" />
                    <ng-template #defaultImage>
                        <img src="..\..\..\assets\images\pexels-florencia-potter-82066-351283.jpg"
                            alt="Default Tour Keypoint Picture" class="img" />
                    </ng-template>

                    <button class="nav-button right" (click)="onNextImage()" *ngIf="hasMultipleImages()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div> -->
            </div>
        </div>
    </div>

    <!-- <div class="tour-container">




        <div *ngIf="showPublishForm" class="publish-form">
            <label>Price:</label>
            <div>
                <input type="number" [(ngModel)]="newPrice" placeholder="Enter price" required>
                <span [style]="{'margin-left': '10px'}">AC</span>
            </div>

            <button mat-button class="primary button-mg" (click)="publishTourWithPrice()">Confirm Publish</button>
        </div>



    </div> -->









    <div class="review-container">
        <div class="review-title-container">
            <h2><b>Reviews</b></h2>
            <mat-chip><b>{{ reviews.length }} Total reviews</b></mat-chip>
        </div>

        <div class="no-reviews-container" *ngIf="reviews.length < 1">
            <p>There are no reviews for this tour.</p>
        </div>

        <div class="reviews-card-container" *ngIf="reviews.length >= 1">
            <xp-tour-review [review]="r" *ngFor="let r of reviews"></xp-tour-review>
        </div>

        <mat-paginator [length]="reviews.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"
            aria-label="Select page"></mat-paginator>
        <!-- <div class="review-card" *ngFor="let review of tour?.reviews">
            <div class="reviewer-info">
                <div class="reviewer-image">
                    <img [src]="'data:image/jpeg;base64,' + (getUserProfile(review.touristId!)?.profileImage || '')"
                        alt="profile-picture" class="profile-picture" onerror="this.src='assets/images/profile.jpg'">
                </div>
                <div class="reviewer-name">
                    {{ getUserProfile(review.touristId!)?.name }} {{ getUserProfile(review.touristId!)?.surname }}
                </div>
            </div>
            <div class="image-container">
                <img [src]="'data:image/jpeg;base64,' + review.image" alt="review-picture" class="review-picture">
            </div>
            <div class="review-info">
                <p class="review-comment">{{review.comment}}</p>
                <div class="review-footer">
                    <div class="review-dates">
                        <div class="review-date">
                            <span class="date-label">Visited:</span>
                            {{review.visitDate | date:'MMM d, y'}}
                        </div>
                        <div class="review-date">
                            <span class="date-label">Reviewed:</span>
                            {{review.reviewDate | date:'MMM d, y'}}
                        </div>
                    </div>
                    <div class="star-rating">
                        <span class="star" *ngIf="review.rating >= 1">&#9733;</span>
                        <span class="star" *ngIf="review.rating >= 2">&#9733;</span>
                        <span class="star" *ngIf="review.rating >= 3">&#9733;</span>
                        <span class="star" *ngIf="review.rating >= 4">&#9733;</span>
                        <span class="star" *ngIf="review.rating >= 5">&#9733;</span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="leaderboard-container">
        <div class="leaderboard-title-container">
            <h2><b>Leaderboard</b></h2>
            <mat-chip><b>{{ tour?.numberOfCompletions ?? 0 }} Total completions</b></mat-chip>
        </div>
        <xp-tour-leaderboard [tourId]="tourId" />
    </div>

</div>