form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ccc;
    background-color: #c6d7ea;
    padding: 25px;
  }

  h2 {  
    text-align: center;  
    margin-bottom: 20px;  
    color: #10365f;
    font-weight: bold;
}
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  
  label {
    width: 150px; 
    text-align: left;  
    flex-shrink: 0;
  }
  
  input, textarea {
    flex-grow: 1;  
    padding: 8px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;  
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  input.ng-invalid.ng-touched {
    border: 2px solid red;
  }
  
  textarea.ng-invalid.ng-touched {
    border: 2px solid red;
  }

  .profile-image img {
    width: 100px;  
    height: auto;
    border-radius: 50%;  
}

  