.container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .map-container{
    height: 350px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }

  
  .component {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .component-1 {
    width: 100%; /* Full width for the first component */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .component-2, .component-3 {
    width: 49%; /* Each component takes half the width of the container */
  }
  .action-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title-container{
    display: flex;
    justify-content: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.number-file-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.number-input{
    width: 100px;
}

.file-container{
    display: flex;
    flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; /* Adjust spacing as needed */
}

.input-number, .input-dropdown {
  flex: 1; /* Allows both fields to take equal space */
  margin-right: 8px; /* Space between the two fields */
}

.input-dropdown:last-child {
  margin-right: 0; /* Remove right margin from the last item */
}

.full-width {
  width: 100%; /* Full width of the parent */
}

.table-container {
  width: 100%; /* Ensures the table container is full width */
}

.mat-table {
  width: 100%; /* Ensures the table itself is full width */
  border-collapse: collapse; /* Optional: removes space between cells */
}

.key-point-image {
  border-radius: 4px; /* Optional: add some style to images */
}
