.navigation-bar {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 50px;
    z-index: 999;
}

.navigation-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-logo-title {
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-logo-title img {
    height: 32px;
}

.links-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links, .side-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links {
    margin-left: 40px;
}

.mat-mdc-menu-item {
    border-radius: 0 !important;
}

.unread-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  