<div class="mat-elevation-z8 full-width">
  <div class="table-container">
    <table mat-table [dataSource]="keyPoints" class="mat-table">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
          <img class="key-point-image" [src]="'data:image/jpeg;base64,' + element.image" alt="{{element.name}}" width="50" height="50">
        </td>
      </ng-container>

      <!-- Delete Button Column -->
      <ng-container matColumnDef="deleteButton">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="deleteKeyPoint(element)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="container-footer">
    <span class="info-text">Click on the map to add a new key point.</span>
    |
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
