

<div mat-dialog-content class="dialog-content">
  <mat-card class="dialog-card">
    <mat-card-header>
      <mat-card-title>Congratulations! You have now arrived at {{ data.keyPoint.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="image-container">
            <img src="../../../../assets/images/tmp.jpeg" alt="" class="dialog-image"/>
          </div>
      <p class="description">{{ data.keyPoint.description }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>