.content {
    padding-bottom: 60px;
  }

  .header{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
  }
  
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ddd;
  }

  .button-size{
    width: 100px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .tour-card{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 350px; 
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .tour-card:hover {
    background-color: antiquewhite;
  }

  .map-container {
    display: flex;
    flex-direction: column; /* Center everything in one column */
    align-items: center; /* Align items (map and search fields) in the center */
    height: 400px;
    background-color: #eceff4;
    gap: 20px;
    max-width: 1200px; /* Optional: limit width of the container */
    margin: 0 auto; /* Center the container itself horizontally */
  }
  
  .map-container app-map {
    width: 100%; /* Take up the full width within the container */
    max-width: 1200px; /* Optional: limit the map's width */
    height: 100%; /* Ensure the map fills the set height */
  }
  
  .search-fields {
    display: flex;
    flex-direction: row; /* Arrange fields and button horizontally */
    gap: 10px; /* Space between the fields and the button */
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto; /* Allow the width to adjust based on content */
    justify-content: flex-start; /* Align the content to the left */
  }
  
  .search-fields input {
    width: 120px; /* Adjust input width */
  }
  
  .search-button {
    align-self: center; /* Center the button vertically in the flex container */
    margin-top: 0; /* Remove extra margin above the button */
    padding: 5px 10px; /* Add padding for button */
  }
  