<div class="content">
  <div class="header">
      <h1>Experience tours.</h1>
      <div class="button-group">
          <button mat-button class="secondary" (click)="changeSearch()" matTooltip="Click to open/clear search">Show Search</button>
          <mat-checkbox [(ngModel)]="isFeatureEnabled" (change)="onFeatureToggle($event)">
              {{ isFeatureEnabled ? 'Deactivate Filter' : 'Activate Filter' }}
          </mat-checkbox>
      </div>
  </div>

  <div class="map-container" *ngIf="showSearch">
      <div class="map-wrapper">
          <app-map [markerAddMode]="'facility'" (addFacility)="changeLongLat($event)"></app-map>
      </div>
      <div class="search-fields">
          <label>
              Name:
              <input [(ngModel)]="searchName" type="text" placeholder="Search by name"/>
          </label>
          <label>
              Radius (km):
              <input [(ngModel)]="radiusInput" type="number" (change)="onRadiusChange()" />
          </label>
          <label>
              Maximum Length (km):
              <input [(ngModel)]="searchLength" type="number" min="0" />
          </label>
          <button mat-button class="secondary search-button" (click)="searchTours()">Search</button>
      </div>
  </div>

  <div class="card-container">
      <xp-tour-card class="tour-card rounded raised" 
          *ngFor="let tour of tours" [tourCard]="tour" (click)="detailedTour(tour)">
      </xp-tour-card>
  </div>
</div>

<div class="bottom-nav">
  <button mat-button class="secondary button-size" (click)="previousPage()">Previous</button>
  <h1>Page {{ currentPage }}</h1>
  <button mat-button class="secondary button-size" (click)="nextPage()">Next</button>
</div>