<div class="content">
    <div class="header">
        <h1>Experience tours.</h1>
        <button mat-button class="secondary" (click)="changeSearch()" matTooltip="Click to open/clear search">Show Search</button>
    </div>

    <div class="map-container" *ngIf="showSearch">
        <app-map [markerAddMode]="'facility'" (addItem)="changeLongLat($event)"></app-map>
        <div class="search-fields">
       
          <label>Radius (km): <input [(ngModel)]="radiusInput" type="number" (change)="onRadiusChange()" /></label>

          <button mat-button class="search-button" (click)="searchTours()">Search</button>
        </div>
      </div>
    
    <div class="card-container">
        <xp-tour-card class="tour-card rounded raised" 
            *ngFor="let tour of tours" [tourCard]="tour" (click)="detailedTour(tour)">
        </xp-tour-card>
    </div>
</div>

<div class="bottom-nav">
    <button mat-button class="secondary button-size" (click)="previousPage()">Previous</button>
    <h1>Page {{ currentPage }}</h1>
    <button mat-button class="secondary button-size" (click)="nextPage()">Next</button>
</div>
