<div class="container">
  <div class="component">
    <div class="scrollable-form-container">
      <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <div class="content-container">
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter blog title" formControlName="title"  maxlength="30">
            <mat-error *ngIf="blogForm.controls['title'].invalid && blogForm.controls['title'].touched">
              Title is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter blog description" formControlName="description" rows="4"></textarea>
            <mat-error *ngIf="blogForm.controls['description'].invalid && blogForm.controls['description'].touched">
              Description is required.
            </mat-error>
          </mat-form-field>

          <div class="file-container">
            <label for="image" class="file-label">Upload Images</label>
            <input type="file" id="image" (change)="onImageSelected($event)" multiple accept="image/png, image/jpeg" class="file-input">
          </div>

          <div *ngIf="selectedImages.length > 0" class="carousel-container">
            <div class="carousel">
              <div class="carousel-inner" [style.transform]="'translateX(-' + currentImageIndex * 100 + '%)'" #carouselInner>
                <div class="carousel-item" *ngFor="let img of selectedImages; let i = index">
                  <img [src]="'data:' + img.contentType + ';base64,' + img.base64Data" [alt]="'Image ' + i" class="carousel-image">
                  <button type="button" class="remove-image-btn" (click)="removeImage(i)">X</button>
                </div>
              </div>
              <button type="button" class="carousel-control prev" (click)="previImage()">‹</button>
              <button type="button" class="carousel-control next" (click)="nextiImage()">›</button>
            </div>
          </div>
        </div>

        <div class="action-container">
          <button class="create-button" type="submit" mat-raised-button color="primary" [disabled]="isSubmitting">
            {{ isSubmitting ? 'Submitting...' : 'Create Blog' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
