<div class="title-container">
  <h1 mat-dialog-title>{{ isEditable ? 'Edit Tour' : 'View Tour' }}</h1>
</div>
<div class="container">
  <div class="row">
      <div class="component component-1">

          <div *ngIf="isEditable; else viewTemplate">
              <form [formGroup]="form">
                  <div mat-dialog-content class="content-container">
                      <mat-form-field appearance="outline" class="custom-form-field">
                          <mat-label>Name</mat-label>
                          <input matInput placeholder="Enter tour name" formControlName="Name">
                          <mat-error *ngIf="form.controls['Name'].invalid && form.controls['Name'].touched">
                              {{ getErrorMessage('Name') }}
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                          <mat-label>Description</mat-label>
                          <textarea matInput
                                    placeholder="Write description for tour"
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="1"
                                    formControlName="Description"
                                    cdkAutosizeMaxRows="5"></textarea>
                          <mat-error *ngIf="form.controls['Description'].invalid && form.controls['Description'].touched">
                              {{ getErrorMessage('Description') }}
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="custom-form-field">
                          <mat-label>Tags</mat-label>
                          <input matInput placeholder="Add tags" formControlName="Tags">
                          <mat-error *ngIf="form.controls['Tags'].invalid && form.controls['Tags'].touched">
                              {{ getErrorMessage('Tags') }}
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                          <mat-label>Level</mat-label>
                          <mat-select formControlName="Level">
                              <mat-option *ngFor="let level of tourLevels" [value]="level">
                                  {{ level }}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.get('Level')?.invalid && form.get('Level')?.touched">
                              Tour level is required
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                          <mat-label>Status</mat-label>
                          <mat-select formControlName="Status">
                              <mat-option *ngFor="let status of tourStatus" [value]="status">
                                  {{ status }}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.get('Status')?.invalid && form.get('Status')?.touched">
                              Tour status is required
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                          <mat-label>Price</mat-label>
                          <input matInput type="number" placeholder="Enter price" formControlName="Price" min="0" step="0.01">
                          <mat-error *ngIf="form.get('Price')?.invalid && form.get('Price')?.touched">
                              {{ getErrorMessage('Price') }}
                          </mat-error>
                      </mat-form-field>
                  </div>
              </form>
          </div>

          <ng-template #viewTemplate>
              <div class="content-container">
                  <p><strong>Name:</strong> {{ form.controls['Name'].value }}</p>
                  <p><strong>Description:</strong> {{ form.controls['Description'].value }}</p>
                  <p><strong>Tags:</strong> {{ form.controls['Tags'].value }}</p>
                  <p><strong>Level:</strong> {{ form.controls['Level'].value }}</p>
                  <p><strong>Status:</strong> {{ form.controls['Status'].value }}</p>
                  <p><strong>Price:</strong> {{ form.controls['Price'].value | currency }}</p>
              </div>
          </ng-template>

          <div mat-dialog-actions class="action-container">
              <button mat-raised-button color="primary" *ngIf="isEditable" (click)="submitForm()">Save</button>
              <button mat-raised-button color="primary" (click)="changeEditable()">
                  {{ isEditable ? 'Lock' : 'Edit' }}
              </button>
          </div>
      </div>
      <div class="component component-2">Tour Equipment Place</div>
  </div>

  <button mat-raised-button color="primary" (click)="back()">
      <mat-icon>back</mat-icon>
      Close
  </button>
</div>
