.container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .component {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .component-1 {
    width: 49%; /* Full width for the first component */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  