/* Zajednički stil za sve dugmiće */
.custom-button {
  background-color: #007bff; /* Plava boja */
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  background-color: #0056b3; /* Tamnija plava kad se pređe */
  transform: scale(1.05); /* Lagano povećanje */
}

.custom-button:active {
  transform: scale(0.95); /* Klik efekat */
}

.button-container {
  display:flex;
}


