/* Zajednički stil za sve dugmiće */
.custom-button {
  background-color: #bf616a;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  background-color: #a3be8c;
  transform: scale(1.05);
}

.custom-button:active {
  transform: scale(0.95); 
}

.button-container {
  display:flex;
}


