<div>
    <button class="custom-button" (click)="toggleFormVisibility()">
        {{ isFormVisible ? 'Close' : 'Add Preference' }}
      </button>

<div *ngIf="isFormVisible" style="display: flex; justify-content: center; margin-top: 20px;">      
<form [formGroup]="preferenceDialog" (ngSubmit)="addPreference()">
    <div style="display: flex; width: 350px; flex-direction: column; gap: 13px; align-items: center;">
       
        <mat-form-field style="width: 300px;">
            <mat-label>Preferred Difficulty</mat-label>
            <mat-select formControlName="preferredDifficulty">
                <mat-option [value]="TourDifficulty.Beginner">BEGINNER</mat-option>
                <mat-option [value]="TourDifficulty.Intermediate">INTERMEDIATE</mat-option>
                <mat-option [value]="TourDifficulty.Advanced">ADVANCED</mat-option>
            </mat-select>
        </mat-form-field>        
        
        <mat-form-field style="width: 300px;">
            <mat-label>Walk rating</mat-label>
            <input matInput formControlName="walkRating" type="number" min="0" max="3"/> 
        </mat-form-field>

        <mat-form-field style="width: 300px;">
            <mat-label>Bike rating</mat-label>
            <input matInput formControlName="bikeRating" type="number" min="0" max="3"/> 
        </mat-form-field>

        <mat-form-field style="width: 300px;">
            <mat-label>Car rating</mat-label>
            <input matInput formControlName="carRating" type="number" min="0" max="3"/> 
        </mat-form-field>

        <mat-form-field style="width: 300px;">
            <mat-label>Boat rating</mat-label>
            <input matInput formControlName="boatRating" type="number" min="0" max="3"/> 
        </mat-form-field>

        <mat-form-field style="width: 300px;">
            <mat-label>Interest Tags</mat-label>
            <input matInput formControlName="interestTags" type="text"/>
        </mat-form-field>

        <div class="button-container">
            <button type="submit" class="custom-button color-secondary">
                Add Preference
              </button>
            </div>
          
          
    </div>
</form>
