<div *ngIf="isLoading">
    Loading blogs...
  </div>
  
  <div *ngIf="error">
    {{ error }}
  </div>
  
  <div class="blog-container">
    <div *ngFor="let blog of blogs" class="blog-card">
      <h2>{{ blog.title }}</h2>
  
      <div style="display: flex; justify-content: space-between;">
        <p>Status: {{ blog.status === 0 ? 'Draft' : 'Published' }} </p>
        <p>Created at: {{ blog.createdDate | date }}</p>
      </div>
  
      <div [innerHTML]="blog.description"></div>
  
      <div *ngIf="blog.imageData && blog.imageData.length > 0">
        <img [src]="'data:' + blog.imageData[0].contentType + ';base64,' + blog.imageData[0].base64Data"
             alt="{{ blog.title }}" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
  