.notification-popup {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 600px;
  max-height: 450px;
  overflow-y: auto;
  z-index: 1000;
  background-color: var(--background-color-alt);
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  color: var(--text-paragraph);
}

mat-card-title {
  font-weight: bold;
  color: var(--accent-color);
}

mat-checkbox {
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 100px;
}

mat-checkbox.mat-checked {
  color: var(--accent-color);
}

mat-checkbox:hover {
  color: var(--hover-color);
}

mat-list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  border-bottom: 1px solid #eceff4;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 150px;
}

mat-list-item:last-child {
  border-bottom: none;
}

.notification-time-wrapper {
  display: flex;
  align-items: center;
}

.notification-icon {
  width: 12px;
  height: 12px;
  margin-right: 400px;
  border-radius: 50%;
  background-color: rgb(185, 107, 107);
  color: rgb(199, 143, 143);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-icon2 {
  width: 25px;
  height: 25px;
  margin-right: 400px;
  color: rgb(199, 143, 143);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-time {
  font-size: 12px;
  text-align: right;
  color: var(--text-muted);
  align-self: flex-end;
  white-space: nowrap;
}

.notification-content {
  font-size: 15px;
  color: var(--text-paragraph);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  flex-grow: 1;
}

.notification-list mat-list-item:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

.notification-list mat-list-item:active {
  background-color: var(--accent-color);
  color: var(--background-color-alt);
}

.no-notifications-text {
  padding: 20px;
  text-align: center;
  color: var(--text-muted);
}
