<div class="container">
  <h1 class="title">Explore encounters 🎮</h1>

  <div class="participant-info" *ngIf="participant">
    <div class="xp-level-container">
      <p><strong>XP:</strong> {{ participant?.xp ?? 0 }}</p>
      <p><strong>Level:</strong> {{ participant?.level ?? 0 }}</p>
    </div>
    <p *ngIf="participant && participant.level < 10" class="warning-message">
      Keep going! Reach level 10 to create your own encounter!
    </p>
    <p *ngIf="participant && participant.level >= 10" class="create-button">
      <button [routerLink]="['/encounters-managing']">Create your own Encounter</button>
    </p>
  </div>

  <div class="map-container">
    <app-map [isViewOnly]="true" (encounterClicked)="showEncounterDetails($event)" [simulatorEnabled]="true"
      (userLocationChange)="progress()" [encounters]="activeEncounters"></app-map>
  </div>
  <div *ngIf="activatedEncounter" class="encounter-info">
    <h2>Encounter details</h2>
    <p><strong>Name: </strong> {{ activatedEncounter.name }}</p>
    <p><strong>Description: </strong> {{ activatedEncounter.description }}</p>
    <p><strong>XP: </strong> {{ activatedEncounter.xp }}</p>
    <div *ngIf="isSocialEncounter(activatedEncounter)">
      <p><strong>Radius: </strong> {{ activatedEncounter.radius }}
      <p><strong>People: </strong> {{ activatedEncounter.currentPeopleCount }} / {{ activatedEncounter.peopleCount }}</p>
    </div>
  </div>
  <div *ngIf="!activatedEncounter" class="encounter-info">
    <h2>No active encouters...</h2>
  </div>
</div>