.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--background-color-alt, #f4f4f4);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.title {
    text-align: center;
    color: var(--text-title);
    font-size: 2.5em;
    font-weight: 600;
}

.map-container {
    position: relative;
    width: 95%;
    height: 450px;
    background-color: var(--background-color-alt);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.map-container app-map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}
