<div class="tour-review-form-container">
    <h2>Write a Review</h2>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="rating">Rating<span style="color: red;">*</span></label>
        <div class="star-rating">
          <span *ngFor="let star of [1,2,3,4,5]" 
                [class.filled]="star <= reviewForm.get('rating')?.value"
                (click)="setRating(star)"
                class="star">★</span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="comment">Comment<span style="color: red;">*</span></label>
        <textarea id="comment" 
                  formControlName="comment" 
                  rows="4"
                  placeholder="Share your experience..."></textarea>
        <div class="error-message" *ngIf="reviewForm.get('comment')?.errors?.['required'] && reviewForm.get('comment')?.touched">
          Comment is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="image">Image <span style="color: red;">*</span></label>
        <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
        <button type="button" class="primary" (click)="fileInput.click()">Choose Image</button>
        <div *ngIf="selectedImage" class="image-preview">
            <img [src]="selectedImage" alt="Image preview" />
        </div>
    </div>
  
      <div class="button-group">
        <button type="button" class="primary" (click)="onCancel()">Cancel</button>
        <button type="submit" class="secondary" [disabled]="!reviewForm.valid">Submit Review</button>
      </div>
    </form>
  </div>