.action-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title-container{
    display: flex;
    justify-content: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 900px;
}

.number-file-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.number-input{
    width: 100px;
}

.map-container{
    position: relative;
    min-height: 150px;
}

.file-container{
    display: flex;
    flex-direction: column;
}