<div *ngIf="isLoading">
    Loading blogs...
  </div>

  <div *ngIf="error">
    {{ error }}
  </div>

  <div class="filter-container" style="text-align: center; margin: 10px 0;">
    <mat-form-field appearance="fill">
      <mat-label>Filter Blogs</mat-label>
      <mat-select [(value)]="selectedFilter" (selectionChange)="applyFilter()">
        <mat-option [value]="-1">All</mat-option>
        <mat-option [value]="3">Active</mat-option>
        <mat-option [value]="4">Famous</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="blog-container">
    <div *ngFor="let blog of blogs" class="blog-card">
      <h2 (click)="blogPreview(blog.id)">{{ blog.title }}</h2>

      <div style="display: flex; justify-content: space-between;">
        <p>Status:
          {{ blog.status === 0 ? 'Draft' : blog.status === 1 ? 'Published' : blog.status === 2 ? 'Closed' : blog.status === 3 ? 'Active': blog.status === 4 ? 'Famous': 'Unknown' }}
        </p>

        <p>Created at: {{ blog.createdDate | date }}</p>
      </div>

      <div [innerHTML]="blog.description"></div>

      <div *ngIf="blog.images && blog.images.length > 0">
        <img [src]="'data:' + blog.images[currentImageIndex[blog.id]].contentType + ';base64,' + blog.images[currentImageIndex[blog.id]].base64Data"
             alt="{{ blog.title }}">

        <div class="image-navigation" *ngIf="blog.images.length > 1">
          <button (click)="previousImage(blog.id)" class="btn btn-secondary">Previous</button>
          <button (click)="nextImage(blog.id, blog.images.length)" class="btn btn-secondary">Next</button>
        </div>
      </div>

      <div style="margin-top: 10px;">
        <button *ngIf="blog.status === 0 && (isUserAuthor(blog.userId) | async)" (click)="updateBlogStatus(blog.id, 1)" class="btn btn-primary">Publish</button>
        <button *ngIf="blog.status !== 2 && (isUserAuthor(blog.userId) | async)" (click)="updateBlogStatus(blog.id, 2)" class="btn btn-danger">Close</button>
      </div>


      <div style="margin-top: 10px;" *ngIf="blog.status !== 0 && blog.status !== 2">
        <button (click)="vote(blog.id, 0)" class="btn btn-primary" [disabled]="blog.status === 2 || blog.status === 0">Upvote ({{ upvotes[blog.id] || 0 }})</button>
        <button (click)="vote(blog.id, 1)" class="btn btn-primary" [disabled]="blog.status === 2 || blog.status === 0">Downvote ({{ downvotes[blog.id] || 0 }})</button>
      </div>
    </div>
  </div>
