<div class="execute-tour container">
    <div class="map-container" *ngIf="!noActiveTours">
        <app-map
            [simulatorEnabled]="true"
            [isViewOnly]="true"
            (userLocationChange)="onUserLocationChange($event)"
            [keyPoints]="tour.keyPoints"/>

        <button mat-button class="secondary button-mg" (click)="abandonTour()">Abandon tour</button>
    </div>
    <div class="no-active-tours" *ngIf="noActiveTours">
        <h1>No active tour...</h1>
    </div>
</div>