.map-container {
    width: 100%;
    height: 500px;
}

.no-active-tours {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Match the height of the map container */
    text-align: center;
}