<div class="app-rating-container">
  <h1>App Ratings</h1>

 
  <div class="search-filter">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
      placeholder="Search by username or grade"
    />
  </div>


  <div class="rate-button">
    <button (click)="openRatingDialog()">Rate our App</button>
  </div>


  <div *ngIf="isLoading" class="loading">Loading ratings...</div>

  <table *ngIf="!isLoading" class="ratings-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Grade</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appRating of appRatings">
        <td>{{ getUserName(appRating.userId) }}</td>
        <td>{{ appRating.grade }}</td>
        <td>{{ appRating.comment }}</td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="!isLoading" class="pagination">
    <button (click)="onPageChange(page - 1)" [disabled]="page <= 1">Previous</button>
<span>Page {{ page }}</span>
<button (click)="onPageChange(page + 1)" [disabled]="!hasMoreResults()">Next</button>

  </div>
</div>
