<div class="container">
    <div class="image-container rounded">
        <img [src]="imageSource" alt="picture"/>
    </div>
    <div class="details">
        <h2>{{tourCard.name}}</h2>
        <span class="text">{{location}}</span>
        <span class="text">Length: {{tourCard.length}} km</span>
        <span class="text">{{tourLevels[tourCard.level]}}</span>
        <span class="text">{{tourCard.tags}}</span>
    </div>
    <div class="bottom-container rounded">
        <div class="price-container">
            <div class="price-text">{{tourCard.price.amount}} {{currencies[tourCard.price.currency]}}</div>
            <button mat-button class="secondary" (click)="addToCart()" *ngIf="user?.role === 'tourist'">Buy now!</button>
        </div>
    </div>
</div>
