table {
  width: 90%; /* Smanjite širinu kako bi tabela bila bliža širini bloga */
  border-collapse: collapse;
  margin: 10px auto; /* Smanjena margina */
  font-family: Arial, sans-serif;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #4CAF50;
  color: white;
  padding: 4px; /* Smanjena padding za kompaktniji izgled */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  border: 1px solid #ddd;
  padding: 4px; /* Smanjena padding */
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

tbody {
  display: block;
  max-height: 150px; /* Smanjena visina za manji prostor */
  overflow-y: auto;
  scrollbar-width: thin;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.user-info {
  width: 90%; /* Smanjena širina u skladu sa tabelom */
  margin: 5px auto; /* Smanjena margina */
  font-family: Arial, sans-serif;
  padding: 8px; /* Manje padding za kompaktniji izgled */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.user-info p {
  margin: 3px 0; /* Smanjena margina */
  font-weight: bold;
  color: #333;
}

.add-comment-section {
  display: flex;
  align-items: center;
  width: 90%; /* Smanjena širina za sklad sa blogom */
  margin: 10px auto; /* Smanjena margina */
  padding: 8px;
}

.add-comment-section h1 {
  margin: 0;
  font-size: 16px; /* Smanjen font za kompaktniji izgled */
}

.add-comment-section button {
  margin-left: 8px;
}
