<div class="register-page container">
    <mat-card class="form-container">
        <img class="form-app-logo" src="/assets/images/explorer_logo_1x.png" alt="Explorer App Logo">
        <p class="form-subtitle">First step of a long journey!</p>
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" type="text" />
                    <small class="error" *ngIf="name?.invalid && (name?.dirty || name?.touched)">Name is
                        required.</small>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname" type="text" />
                    <small class="error" *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">Surname is
                        required.</small>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" type="text" />
                    <small class="error" *ngIf="username?.invalid && (username?.dirty || username?.touched)">Surname is
                        required.</small>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="text" />
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                        <small class="error" *ngIf="email?.errors?.['required']">Email is
                            required.</small>
                        <small class="error" *ngIf="email?.errors?.['email']">Email not in a valid format.</small>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" />
                    <small class="error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">Password is
                        required.</small>
                </mat-form-field>
                <button class="secondary" type="submit" mat-button>Register</button>
                <p class="register-link">
                    Already have an account? <a href="/login">Login</a>
                </p>
            </div>
        </form>
    </mat-card>
</div>